body{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen";
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.largura-maxima{
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    background-color: #58c4c4;
    color: white;
    width: auto;
    display: inline-block;
    font-size: 17px;
    padding: 15px 35px;
    border-radius: 5px;
}

.button:hover{
    background-color: #419191;

}

a{
    text-decoration: none;
}
@media screen and (min-width: 1px){
    .logo{
        margin: 10px;
        text-align: center;
    }

    .menu{
        background-color: #612674;
        color: white;
        list-style-type: none;
        margin: 0;
    }

    .menu-item{
        margin: 0;
        padding: 0;
    }

    .menu-item a{

        text-decoration: none;
        display: block;
        padding: 1em;
        text-align: center;
        color: white;
    }

    .menu-item a:hover{
        background-color: #7b3094;
    }

    .conteudo-principal-mob{
        background-color: #f6f6f6;
        padding: 16px;
        text-align: center;
    }

    .conteudo-principal-mob-icone-play{
        visibility: hidden;
        height: 1px;
    }

    .conteudo-principal-mob-titulo{
        color: #612674;
        margin: 30px 25px;
        font-size: 22px;
    }

    .conteudo-principal-mob-cont{
        color: #a87bb7;
        font-size: 18px;
        margin: 28px 13px;
        line-height: 1.5;
    }

    .linha{
        background-color: #f6f6f6;
    }

    .conteudo-principal-card span[class^="icon"]{
        color: #612674;
        font-size: 70px;
    }

    .conteudo-principal-card{
        text-align: center;
        background-color: #f6f6f6;
        padding: 16px;
    }

   .conteudo-principal-card h3{
        color: #612674;
        text-transform: uppercase;
        font-size: 20px;
    }

    .conteudo-principal-card p{
        line-height: 1.5;
        margin: 0 20px 15px 20px;
    }

    .conteudo-meio{
        padding: 40px 40px 40px 30px;
    }

    .conteudo-meio h3{
        text-transform: uppercase;
        color: #612674;
        font-weight: 300;
        font-size: 23px;
        letter-spacing: 3px;
    }

    .conteudo-meio article{
        margin-bottom: 50px;       
    }

    footer{
        text-align: center;
    }

    .hidden{
        width: 0;
        height: 0;
        overflow: hidden;
        display: inline-block;
    }
    
    .redes-sociais{
        background-color: #303d4c;
        margin-bottom: 0;
    }

    .redes-sociais-icones{
        list-style-type: none;
    }

    .redes-sociais-icones ul{
        display: inline-block;
        text-align: center;    
        margin: 0;
        padding: 10px 16px;     
    }

    .redes-sociais-icones ul:first-child{
        padding-left: 0%;
    }
    .redes-sociais-icones a{
        color: white;
    }

    .credito{
        background-color: #25303e;
        color: #83969f;
    }

    .credito p{
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .credito p:last-child{
        padding-bottom: 40px;
    }

    @media screen and (min-width: 780px){
        
        header{
            position: relative;
        }
       

        .logo{
            float: left;
        }
        
        .menu{
            color: #612674;
            background-color: white;
            position: absolute;
            bottom: 5px;
            right: 0;            
        }
        
        .menu ul{
            display: inline-block;
        }
        
        .menu a{
            color: #612674;
        }

        .menu-item a:hover{
            background-color: #4c1c5c2f;            
        }

        .conteudo-principal-mob{
            background-color: #4c1c5c;            
        }

        .conteudo-principal-mob-icone-play{
            visibility: visible;
            height: 80px;
        }

        .conteudo-principal-mob-titulo,  .conteudo-principal-mob-cont{
            color: white;
        }

        .coluna-1-4{
            width: 44%;
            float: left;
            margin: 3%;
            
        }

        .conteudo-meio a{
           float: right;
        }

    }

    @media screen and (min-width: 1000px){
        .conteudo-principal-mob{
            background-image: url(../images/bg_topo_1198x670.jpg);
            padding: 250px 16px 40px 16px;
        }
    }

    @media screen and (min-width: 1300px){
        
        .logo{
            margin-left: 120px;
        }

        .menu{
            margin-right: 115px;
        }
        .conteudo-principal-mob{
            background-image: url(../images/bg_topo_1600x1374.jpg);
            padding-top: 310px;
            padding-bottom: 150px;
        }

        .conteudo-principal-mob-div{
            width: 50%;
            margin: auto;
        }

        .conteudo-principal-mob-icone-play{
            height: 110px;
        }

        .coluna-1-4{
            width: 25%;
            margin: 0;
        }

        .conteudo-principal-card div{
            padding-top: 30px;
        }

        .coluna-1-2{
            width: 48%;
            float: left;
        }

        .coluna-1-2:nth-child(2n){
            padding-left: 2%;
        }

        .conteudo-meio a{
            float: left;
        }

    }

}